* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#outdoorAds-bg {
  background-image: url("../../../Assets/Images/outdoorAds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgb(38, 77, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
#outdoorAds-img {
  width: 250px;
  height: 200px;
}
