* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolioCards-container {
  margin-top: 120px;
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 4rem;
  background-color: #000;
}
.simpleCardHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cardsRow {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-img {
  width: 580px;
  height: 100%;
}
.card-img > img {
  width: 100%;
  height: 350px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (max-width: 414px) {
  .portfolioCards-container {
    padding-top: 0rem;
    height: 2100px;
  }
  .cardsRow {
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
  }
  .card-img {
    width: 300px;
    height: 100%;
  }
  .card-img > img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 428px) {
  .portfolioCards-container {
    padding-top: 0rem;
    height: 2100px;
  }
  .cardsRow {
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
  }
  .card-img {
    width: 300px;
    height: 200px;
  }
  .card-img > img {
    width: 100%;
    height: 100%;
  }
}
