*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adsCards-container{
    width: 100%;
}

#aboutPage-adsContainer{
    margin-top: 330px;
}

#aboutPage-channelCards{
    position: relative;
    bottom: 140px;
}