@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.serviceComponent-container {
  margin-top: 70px;
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
}
.serviceTitle {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.serviceTitle > h1 {
  color: #c5964f;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 0 0 6px rgba(197, 150, 79, 0.7), 0 0 8px rgba(197, 150, 79, 0.7),
    0 0 10px rgba(197, 150, 79, 0.7);
}

.serviceTitle > h2 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.serviceTitle > h3 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.serviceChannels {
  margin-top: 100px;
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.rowImgs {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rowImgs > img {
  width: 210px;
  height: 180px;
  transition: 0.5s all ease-in-out;
  transform: scale(1);
}
.rowImgs > img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.channelsCards {
  width: 100%;
  height: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #000;
  margin-top: 50px;
  margin-bottom: 100px;
}

.cardsHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}

.cardRow {
  width: 400px;
  height: 450px;
  text-align: center;
  background-image: url("../../../../Assets/Images/card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.7ms all ease-in-out;
  transform: scale(1);
}

.cardsHolder > a {
  text-decoration: none;
}

.cardsHolder > a:active {
  text-decoration: none;
  color: black;
}
.cardRow:active {
  cursor: pointer;
  transform: scale(1.1);
}

.cardsHolder .cardRow:nth-child(3) {
  gap: 20px;
}

.cardRow > h1 {
  margin-top: 30px;
  color: #000;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cardRow > img {
  width: 170px;
  height: 170px;
  position: relative;
  left: 120px;
}
#third {
  left: 110px;
  width: 180px;
  height: 100px;
}

.channelsCards .cardsHolder:nth-child(2) > .cardRow:first-child > img {
  width: 240px;
  left: 80px;
}

.channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(3) > img {
  height: 200px;
}
.channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(1) > img {
  margin-top: 15px;
}
.channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(2) > img {
  margin-top: 15px;
}
.channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > img {
  margin-top: 15px;
}

.channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > h1 {
  margin-top: 50px;
}
.channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > h1 {
  font-size: 18px;
}

.offers {
  width: 100%;
  height: 150px;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offers > h1 {
  color: #c5964f;
  text-shadow: 5px 0 #191919;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0 0 6px rgba(197, 150, 79, 0.7), 0 0 8px rgba(197, 150, 79, 0.7),
    0 0 10px rgba(197, 150, 79, 0.7);
}
.offers > h2 {
  color: #fff;
  text-shadow: 3px 0 #191919;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#banner {
  width: 240px;
  left: 80px;
}

@media (max-width: 428px) {
  .serviceComponent-container {
    margin-top: 0px;
    width: 100%;
    height: 435vh;
  }
  .serviceTitle {
    margin-top: 10px;
    width: 100%;
    height: 180px;
    gap: 7px;
  }
  .serviceTitle > h1 {
    font-size: 40px;
  }
  .serviceTitle > h2 {
    font-size: 18px;
  }
  .serviceTitle > h3 {
    font-size: 18px;
  }
  .serviceChannels {
    margin-top: 10px;
    width: 100%;
    height: 400px;
  }
  .rowImgs {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
  }
  .rowImgs > img {
    width: 100px;
    height: 87px;
  }

  .channelsCards {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0;
    padding-top: 1rem;
  }

  .cardsHolder {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardRow {
    width: 350px;
    height: 350px;
  }

  .cardRow > img {
    width: 120px;
    height: 120px;
    left: 120px;
  }

  #banner {
    width: 160px;
    top: 10px;
    left: 100px;
  }

  #third {
    width: 120px;
    height: 75px;
    left: 120px;
  }

  .cardRow > h1 {
    font-size: 14px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(1) > img {
    width: 120px;
    height: 80px;
    left: 67px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(3) > img {
    width: 90px;
    height: 80px;
  }

  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > h1 {
    font-size: 12px;
  }
  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > img {
    bottom: 13px;
  }
  .offers {
    margin-top: 14px;
    width: 100%;
    height: 130px;
  }
  .offers > h1 {
    font-size: 40px;
  }
  .offers > h2 {
    font-size: 24px;
  }
}

@media (max-width: 414px) {
  .serviceComponent-container {
    margin-top: 0px;
    width: 100%;
    height: 2900px;
    background-color: #000;
  }
  .serviceTitle {
    margin-top: 10px;
    width: 100%;
    height: 180px;
    gap: 7px;
  }
  .serviceTitle > h1 {
    font-size: 40px;
  }
  .serviceTitle > h2 {
    font-size: 18px;
  }
  .serviceTitle > h3 {
    font-size: 18px;
  }
  .serviceChannels {
    margin-top: 10px;
    width: 100%;
    height: 400px;
  }
  .rowImgs {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
  }
  .rowImgs > img {
    width: 110px;
    height: 90px;
  }

  .channelsCards {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0;
    padding-top: 1rem;
  }

  .cardsHolder {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardRow {
    width: 250px;
    height: 250px;
    gap: 4px;
  }

  .cardRow > img {
    width: 90px;
    height: 90px;
    left: 80px;
  }

  #third {
    width: 100px;
    height: 60px;
    left: 75px;
  }

  .cardRow > h1 {
    font-size: 12px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(1) > img {
    width: 120px;
    height: 80px;
    left: 67px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(3) > img {
    width: 90px;
    height: 80px;
  }

  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > h1 {
    font-size: 12px;
  }
  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > img {
    bottom: 13px;
  }
  .offers {
    margin-top: 14px;
    width: 100%;
    height: 130px;
  }
  .offers > h1 {
    font-size: 33px;
  }
  .offers > h2 {
    font-size: 20px;
  }
  #banner {
    width: 140px;
    left: 56px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .serviceComponent-container {
    margin-top: 0px;
    width: 100%;
    height: 520vh;
    background-color: #000;
  }
  .serviceTitle {
    margin-top: 10px;
    width: 100%;
    padding: 2rem;
    gap: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serviceTitle > h1 {
    font-size: 60px;
  }
  .serviceTitle > h2 {
    font-size: 17px;
  }
  .serviceTitle > h3 {
    font-size: 17px;
  }
  .serviceChannels {
    margin-top: 10px;
    width: 100%;
    height: 400px;
  }
  .rowImgs {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
  }
  .rowImgs > img {
    width: 110px;
    height: 90px;
  }

  .channelsCards {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0;
    padding-top: 1rem;
  }

  .cardsHolder {
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cardRow {
    width: 350px;
    height: 350px;
    gap: 4px;
  }

  .cardRow > img {
    width: 90px;
    height: 90px;
    left: 135px;
  }

  #third {
    width: 100px;
    height: 60px;
    top: 20px;
    left: 125px;
  }

  .cardRow > h1 {
    font-size: 12px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(1) > img {
    width: 120px;
    height: 80px;
    left: 67px;
  }

  .channelsCards > .cardsHolder:nth-child(2) > .cardRow:nth-child(3) > img {
    width: 90px;
    height: 80px;
  }

  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > h1 {
    font-size: 12px;
  }
  .channelsCards > .cardsHolder:nth-child(3) > .cardRow:nth-child(3) > img {
    bottom: 13px;
  }
  .offers {
    margin-top: 14px;
    width: 100%;
    height: 130px;
  }
  .offers > h1 {
    font-size: 33px;
  }
  .offers > h2 {
    font-size: 20px;
  }
  #banner {
    width: 140px;
    top: 20px;
    left: 106px;
  }
}

@media (max-width: 390px) {
  .serviceChannels {
    padding-top: 0px;
    flex-direction: column;
    gap: 0px;
  }
  .rowImgs {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
  }
  .rowImgs > img {
    width: 100px;
    height: 85px;
  }

  .rowImgs > img {
    width: 100px;
    height: 87px;
  }
  #banner {
    width: 120px;
    height: 70px;
    left: 67px;
  }
}

@media (max-width: 375px) {
  .serviceChannels {
    padding-top: 0px;
    flex-direction: column;
    gap: 0px;
  }
  .rowImgs {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
  }
  .rowImgs > img {
    width: 100px;
    height: 87px;
  }
  #banner {
    width: 120px;
    height: 70px;
    left: 67px;
  }
  .serviceTitle {
    padding: 1rem;
  }
  .serviceTitle > h2 {
    font-size: 15px;
  }
  .serviceTitle > h3 {
    font-size: 13px;
  }
}
