@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centerComponent-container {
  width: 100%;
  height: 900px;
  background: url("../../../../Assets/Images/center-image.png"),
    lightgray 50% / cover no-repeat;
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  padding: 2rem;
}

.centerTitle,
.centerSubTitle {
  width: 45%;
  height: 400px;
}

.centerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerTitle > h1 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
}

.centerSubTitle > ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.centerSubTitle ul > li {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
}

@media (max-width: 428px) {
  .centerComponent-container {
    margin-top: 0px;
    width: 100%;
    height: 600px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
  }
  .centerTitle,
  .centerSubTitle {
    width: 100%;
    height: 220px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerTitle > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .centerSubTitle > ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }
  .centerSubTitle ul > li {
    margin-top: 13px;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 414px) {
  .centerComponent-container {
    margin-top: 0px;
    width: 100%;
    height: 600px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
  }
  .centerTitle,
  .centerSubTitle {
    width: 100%;
    height: 270px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerTitle > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .centerSubTitle > ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }
  .centerSubTitle ul > li {
    margin-top: 13px;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .centerComponent-container {
    margin-top: 0px;
    padding: inherit;
    width: 100%;
    height: 650px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
  }
  .centerTitle,
  .centerSubTitle {
    width: 100%;
    height: 270px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerTitle > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
  .centerSubTitle > ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }
  .centerSubTitle ul > li {
    margin-top: 13px;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 375px) {
  .centerComponent-container {
    gap: inherit;
    height: 650px;
  }
  .centerTitle,
  .centerSubTitle {
    width: 100%;
    height: 220px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerTitle > h1 {
    font-size: 25px;
  }
}
