* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location-container {
  padding-top: 4rem;
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

.locationDivsHandler {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.leftLocation-Div,
.rightLocation-Div {
  width: 600px;
  height: 278px;
  background-image: url("../../../../Assets/Images/Rectangle\ 66.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.leftLocation-Div > h1,
.rightLocation-Div > h1 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.leftLocation-Div > p,
.rightLocation-Div > p {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.leftLocation-Div > img,
.rightLocation-Div > img {
  width: 130px;
  height: 120px;
  position: relative;
  bottom: 60px;
  overflow: hidden;
}

@media (max-width: 414px) {
  .location-container {
    width: 100%;
    height: 300px;
  }

  .locationDivsHandler {
    width: 100%;
    height: 200px;
    padding: 1rem;
  }
  .leftLocation-Div,
  .rightLocation-Div {
    width: 300px;
    height: 100px;
    background-image: url("../../../../Assets/Images/Rectangle\ 66.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .leftLocation-Div > img,
  .rightLocation-Div > img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 20px;
  }

  .leftLocation-Div > h1,
  .rightLocation-Div > h1 {
    font-size: 14px;
    font-family: "Abhaya Libre" sans-serif;
    font-weight: 600;
  }
  .leftLocation-Div > p,
  .rightLocation-Div > p {
    font-size: 12px;
    font-family: "Abhaya Libre", sans-serif;
    font-weight: 400;
  }
}
