* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contacts-container {
  width: 100%;
}

@media (max-width: 414px) {
  .contacts-container {
    width: 100%;
    height: 1200px;
    background-color: lightcoral;
  }
}
