* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lowerCard-container {
  width: 100%;
  height: 900px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  bottom: 50px;
}

.lowerCard-bgImg {
  width: 100%;
  height: 380px;
  background-image: url("../../../../Assets/Images/lowerCard-bg.png");
  background-position: center;
  background-size: cover;
}

.lowerCard-content {
  width: 100%;
  height: 400px;
  background-color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.lowerCard-content > h1 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.lowerCard-content > p {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#submit {
  width: 450px;
  height: 80px;
  background: #a71313;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 414px) {
  .lowerCard-container {
    width: 100%;
    height: 500px;
  }
  .lowerCard-bgImg {
    width: 100%;
    height: 170px;
  }
  .lowerCard-content {
    width: 100%;
    height: 300px;
    gap: 1rem;
  }
  .lowerCard-content > h1 {
    font-size: 25px;
  }
  .lowerCard-content > p {
    font-size: 15px;
  }
  #submit {
    width: 200px;
    height: 45px;
    font-size: 13px;
  }
}
