* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body{
  padding-left: 10rem;
  padding-right: 10rem;
} */

.homePage-container {
  width: 100%;
  color: white;
  background-color: #000;
}
