@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-container {
  width: 100%;
  height: 400px;
  background-color: #000;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
}
.imgContainer {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
}
.footer-container > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.footer-container > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2px;
  color: white;
}
.footer-container > ul > li > a {
  text-decoration: none;
}
.footer-container > ul > li > a > p {
  margin-top: 4px;
  text-decoration: none;
  color: white;
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-container > ul > li > a > h1 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer-container > ul > li > p {
  margin-top: 4px;
  text-decoration: none;
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-container > ul > li > a {
  margin-top: 4px;
  text-decoration: none;
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-container > ul > li > h2 {
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-container > ul li > a {
  text-decoration: none;
  color: white;
  color: #fff;
  font-family: "Abhaya Libre", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 414px) {
  .footer-container {
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 20px;
  }

  .imgContainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer > img {
    margin-top: 20px;
    width: 250px;
    height: 200px;
  }
  .footer-container > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2px;
    color: white;
  }
  .footer-container > ul > li > a {
    text-decoration: none;
  }
  .footer-container > ul > li > a > p {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer-container > ul > li > a > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .footer-container > ul > li > h2 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .footer-container > ul > li > {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #firstHr {
    width: 9.5rem;
  }
  #nums {
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer-container {
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 20px;
  }

  .imgContainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer > img {
    margin-top: 20px;
    width: 250px;
    height: 200px;
  }
  .footer-container > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2px;
    color: white;
  }
  .footer-container > ul > li > a {
    text-decoration: none;
  }
  .footer-container > ul > li > a > p {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer-container > ul > li > a > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .footer-container > ul > li > h2 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .footer-container > ul > li > {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #firstHr {
    width: 9.5rem;
  }
  #nums {
    font-size: 16px;
  }
}
@media (max-width: 428px) {
  .footer-container {
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 20px;
  }

  .imgContainer {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer > img {
    margin-top: 20px;
    width: 250px;
    height: 200px;
  }
  .footer-container > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2px;
    color: white;
  }
  .footer-container > ul > li > a {
    text-decoration: none;
  }
  .footer-container > ul > li > a > p {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer-container > ul > li > a > h1 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .footer-container > ul > li > h2 {
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .footer-container > ul > li > p {
    margin-top: 4px;
    text-decoration: none;
    color: white;
    color: #fff;
    font-family: "Abhaya Libre", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #firstHr {
    width: 9.5rem;
  }
  #nums {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  #nums {
    font-size: 14px;
  }
}
