@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  height: 350px;
  background-color: #000;
  padding: 2rem;
}
.rowsHandler {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rowsHandler .rows:first-child {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 0;
}

.rowsHandler .rows:nth-child(2) > h2,
.rowsHandler .rows:nth-child(3) > h2,
.rowsHandler .rows:nth-child(4) > h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
}

.rowsHandler .rows:nth-child(2) > ul,
.rowsHandler .rows:nth-child(3) > ul,
.rowsHandler .rows:nth-child(4) > ul {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rowsHandler .rows:nth-child(2) > ul a,
.rowsHandler .rows:nth-child(3) > ul a,
.rowsHandler .rows:nth-child(4) > ul li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.rowsHandler .rows:nth-child(4) > h3 {
  margin-top: 15px;
  color: #fff;
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.rowsHandler .rows:nth-child(4) > p {
  margin-top: 20px;
  color: #fff;
  font-family: "Abhaya Libre", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.rows {
  padding: 1rem;
  width: 350px;
  height: 100%;
}
.rows > img {
  width: 250px;
  height: 200px;
  cursor: pointer;
}
